 .card-footer {
     font-size: 20px;
     background: var(--humoblanco);
     text-align: center;
     font-weight: bold;
     padding: 10px;
 }

 p {
     font-family: var(--monotype);
     color: var(--negro);
 }

 span {
     font-family: var(--sample);
     color: var(--rojo);
 }

 @media screen and (max-width: 499px) {
     p {
         font-size: 22px;
     }
 }
