.navbar {
    min-height: 5rem;
    background: var(--trigo);
    overflow: hidden;
    position: fixed;
}

.navbar-brand {
    font-family: var(--sample);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--rojo);
}

.navbar-brand span {
    font-family: var(--monotype);
    text-transform: capitalize;
    color: var(--negro);
}

.navbar-brand,
.navbar-brand span {
    font-size: 30px;
}

.welcome {
    font-weight: bold;
}

i {
    color: var(--azul);
    text-align: center;
}

@media screen and (max-width: 461px) {
    .navbar {
        overflow: hidden;
        position: fixed;
    }
    .navbar-brand,
    .navbar-brand span {
        font-size: 20px;
    }
    .navbar-toggler {
        font-size: 19px;
    }
    .welcome {
        font-weight: bold;
    }
    strong {
        color: var(--rojo);
    }
    ul {
        text-align: center;
    }
}