<section class="bg-1" id="about" href="#about">
    <div class="container">
        <div class="row">
            <div class="col col-sm-auto col-md-auto col-lg-auto col-xl-auto">
                <h2 style="color: #ffffff; animation-duration: 2s" class="mt-5 animate__fadeInUp">
                    ¿Quienes Somos?
                </h2>
                <p style="color: #ffffff; animation-duration: 5s" class="mt-5 animate__fadeInUp">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt unde, eum, ipsa consectetur aliquam ut est non commodi maxime tempore voluptatibus minima illo beatae praesentium ipsam architecto vero dolorem doloremque.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-apartments" id="apartments" href="#apartments">
    <div class="container">
        <div class="col col-sm-auto col-md-auto col-lg-auto col-xl-auto">
            <h1 class="mt-5 animate__fadeInUp" style="animation-duration: 2s; text-align: center">
                Nuestros departamentos
            </h1>

            <p class="mt-5 animate__fadeInUp" style="animation-duration: 2s; text-align: center">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe ipsa necessitatibus, aliquam impedit quidem animi iure libero aliquid? Quia animi nam commodi placeat. Doloremque temporibus, adipisci nobis ratione et beatae.

                <button routerLink="/departamentos" class="btn-primary btn-block mt-5 vermas" *ngIf="user$| async as user;">
            Ver más
          </button>

            </p>
        </div>
    </div>
</section>

<section class="bg-2" id="contact" href="#contact">
    <div class="container">
        <div class="row">
            <div class="col col-sm-auto col-md-auto col-lg-auto col-xl-auto">
                <h2 style="color: #ffffff; animation-duration: 2s" class="mt-5 animate__fadeInUp">
                    Excursiones
                </h2>
                <p style="color: #ffffff; animation-duration: 5s" class="mt-5 animate__fadeInUp">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt unde, eum, ipsa consectetur aliquam ut est non commodi maxime tempore voluptatibus minima illo beatae praesentium ipsam architecto vero dolorem doloremque.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="contact" id="contact">
    <div class="info-container">
        <h1>Contactanos</h1>
        <section class="justify-content-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <a class="ws" href="https://api.whatsapp.com/send?phone=18296196970&text=&source=&data=&app_absent=" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-whatsapp"> <p>Escribenos vía Whatsapp.</p> </i>
                        </a>
                    </div>

                    <div class="col-sm">
                        <a class="email" href="mailto:franklinrosario2007@gmail.com">
                            <i class="far fa-envelope"><p>Escribenos un correo electronico para más información.</p></i></a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="container">
        <iframe class="col-sm-auto" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3779.900496793049!2d-68.4455157859671!3d18.668460587322983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ea8eb0005bfc27d%3A0x7080460759c42af7!2sResidencial%20Oliva!5e0!3m2!1ses-419!2sdo!4v1586548043407!5m2!1ses-419!2sdo"
            frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0">
  </iframe>
    </div>
    <app-footer></app-footer>
</section>
