:root {
    --humoblanco: #fff1f0;
    --trigo: #F5DEB3;
    --blanco: #fffafa;
    --gris: #dedede;
    --rojo: #ff0000;
    --azul: #0000cd;
    --negro: #000000;
    --verde: #25d366;
    --blancogris: #c3c3c3;
    --naranja: #ff5a5f;
    --rojo2: rgba(207, 0, 15, 1);
    --monotype: "Monotype Corsiva";
    --sample: "sample";
}

* {
    margin: 0;
    padding: 0;
}

.selector-for-some-widget {
    box-sizing: content-box;
}
